@media(max-width:1200px) {

    .custom__cards,
    .commerce__cards {
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto;
    }

    .commerce__cards {
        gap: 20px;
    }
}

@media(max-width:992px) {
    .nav {
        flex-direction: column;
        gap: 20px;
    }

    .nav__list {
        order: 1;
    }

    .collection__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__item {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .footer__item_blocks {
        align-items: center;
    }

    .footer__item_blocks-title {
        align-items: center;
    }

    .footer__text {
        text-align: center;
    }
}

@media(max-width:768px) {
    .header__content_title {
        font-size: 35px;
    }
}

@media(max-width:576px) {
    .nav__list {
        flex-direction: column;
        text-align: center;
    }

    .nav__list_link:nth-child(3) {
        order: 1;
        position: relative;
    }

    .nav__dropdown {
        top: 15px;
        max-width: 120;
    }

    .nav__dropdown .nav__list_link a {
        padding: 12px 0 12px 0;

    }

    .commerce__cards {
        justify-content: center;
    }

    .header__content_title {
        padding: 15px 20px;
        font-size: 30px;
    }

    .commerce__desc_titile,
    .collection__inner_title {
        font-size: 40px;
        line-height: 50px;
    }

    .custom__desc_title {
        font-size: 37px;
        line-height: 50px;
    }
}

@media(max-width:375px) {}

@media(max-width:320px) {}